<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>">
    <link rel="stylesheet" href="/css/styles.css" />
    <title><%= title %></title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <%- include('header.ejs') %>
        <p class="py-2">Welcome to To-do manager</p>
        <p class="py-2">New here? <a href="/signup" class="text-blue-600 underline">Sign up</a></p>
        <p class="py-2">Already have an account? <a href="/login" class="text-blue-600 underline">Log in</a></p>
      </div>
    </div>
     <%- include('footer.ejs') %>
  </body>
</html>