<!-- views/todos.ejs -->
<h5><%= title %>(<%= todos.length %>)</h5> 

<% todos.forEach(todo => { %>
            <ul class="list-none pl-4">
              <li class="Todo-Item">  
                <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50">
                  <div class="flex items-center w-fit my-2 px-2 py-1">
                    <input id="todo-checkbox-2" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300">
                    <label for="todo-checkbox-2" class="ml-2 text-sm text-gray-600 cursor-pointer"><%= todo.title %></label>  
                  </div> 
                </div>
              </li>
            </ul>
  <% }) %>
  